.hospital-image-container {
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    img{
        border-radius: 6px;
    }
    .hospital-image{
        max-width: 100%;
    }
}

.overlay{
    top:0;
    bottom:0;
    left:0;
    right: 0;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.cover{
    top:0;
    bottom:0;
    left:0;
    right: 0;
}

.hospital-image-container:hover .overlay{
    visibility: visible !important;
    opacity: 1;
}