<div class="col pl-0">
  <h5 class="mb-3 font-weight-bold">Room types</h5>
</div>
<form [formGroup]="parentForm">
  <div formArrayName="rooms">
    <div *ngFor="let contact of parentForm.controls.rooms?.value; let numIndex = index" [formGroupName]="numIndex">
      <div class="form-group row no-gutter-left justify-content-around">
        <label for="room" class="col-sm-1 col-form-label text-left no-gutter-left">Room</label>
        <div class="col-sm-4">
          <input type="text" class="form-control-plaintext" id="room">
        </div>
        <label for="room" class="col-sm-2 col-form-label text-left">Price per night</label>
        <div class="col-sm-3">
          <input type="text" class="form-control-plaintext" id="room">
        </div>
        <div class="link col-sm-1 text-center">
          <div class="row">
            <div class="col-sm-12">
              <fa-icon [icon]="deleteIcon" class="mr-0"></fa-icon>
            </div>
          </div>
          Delete
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row no-gutter-left justify-content-around">
    <label for="room" class="col-sm-1 col-form-label text-left no-gutter-left">Room</label>
    <div class="col-sm-4">
      <input type="text" class="form-control-plaintext" id="room" #roomName>
    </div>
    <label for="room" class="col-sm-2 col-form-label text-left">Price per night</label>
    <div class="col-sm-3">
      <input type="text" class="form-control-plaintext" id="room" #roomPrice>
    </div>
    <div class="col-sm-1 text-center link">
      <div class="row">
        <div class="col-sm-12">
          <fa-icon [icon]="deleteIcon" class="mr-0"></fa-icon>
        </div>
      </div>
      Delete
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 link" (click)="addRoom(roomName.value,roomPrice.value)">
      <fa-icon [icon]="addIcon" class="addIcon fa-lg"></fa-icon>
      Add new room type
    </div>
  </div>
</form>