<div class="container hospital-details h-100">
    <div class="row align-items-start mb-3">
        <div class="col-sm-auto">
            <h3>{{hospitalName}}</h3>
        </div>
        <div class="col mt-1 text-secondary">
            <fa-icon [icon]="editIcon"></fa-icon>
            Request to change
        </div>
    </div>
    <div class="row align-items-start mb-3">
        <div class="col-sm-auto">
            <h5>{{hospitalAddress}}</h5>
        </div>
        <div class="col mt-1 text-secondary">
            <fa-icon [icon]="editIcon"></fa-icon>
            Request to change
        </div>
    </div>
    <div class="row align-items-start ">

    </div>
    <div class="container pl-0">
        <div class="col pl-0">
            <h5 class="mb-3 font-weight-bold">Hospital Photos</h5>
        </div>
        <div class="row mb-3">
            <div *ngFor="let image of hospitalImages" class="col-sm-2 hospital-image-container">
                <img [src]="image" class="hospital-image" alt="Hospital Image" class="hospital-image">
            </div>
            <div class="col-sm-2">
                <div class="card text-center pt-3">
                    <div class="card-body text-secondary p-2">
                        <fa-icon [icon]='uploadIcon' class="fa-lg"></fa-icon>
                        <p class="card-title">Upload photos</p>
                        <p class="card-text">You can upload 2 more photos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pl-0 mb-5">
        <div class="col pl-0">
            <h5 class="mb-3 font-weight-bold">Contacts and description</h5>
        </div>
        <form>
            <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label text-right">Email</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control-plaintext" id="email">
                </div>
            </div>
            <div class="form-group row">
                <label for="contactNumber" class="col-sm-3 col-form-label text-right">Contact Numer</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control-plaintext" id="contactNumber">
                </div>
            </div>
            <div class="form-group row">
                <label for="fax" class="col-sm-3 col-form-label text-right">Fax</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control-plaintext" id="fax">
                </div>
            </div>
            <div class="form-group row">
                <label for="url" class="col-sm-3 col-form-label text-right">Website URL</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control-plaintext" id="url">
                </div>
            </div>
            <div class="form-group row">
                <label for="highlight1" class="col-sm-3 col-form-label text-right">
                    <p>Highlight 1</p>
                    <p>(Max 100 characters)</p>
                </label>

                <div class="col-sm-9">
                    <textarea class="form-control" id="highlight1" rows="2" maxlength="100"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="highlight2" class="col-sm-3 col-form-label text-right">
                    <p>Highlight 2</p>
                    <p>(Max 100 characters)</p>
                </label>

                <div class="col-sm-9">
                    <textarea class="form-control" id="highlight2" rows="2" [maxLength]="100"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="highlight3" class="col-sm-3 col-form-label text-right">
                    <p>Highlight 3</p>
                    <p>(Max 100 characters)</p>
                </label>

                <div class="col-sm-9">
                    <textarea class="form-control" id="highlight3" rows="2" [maxLength]="100"></textarea>
                </div>
            </div>
            <div class="form-group row">
                    <label for="desc" class="col-sm-3 col-form-label text-right">
                        <p>Description</p>
                        <p>(Max 300 characters)</p>
                    </label>
    
                    <div class="col-sm-9">
                        <textarea class="form-control" id="desc" rows="3" [maxLength]="300"></textarea>
                    </div>
                </div>
            <div class="form-group row">
                <label for="currency" class="col-sm-3 col-form-label text-right">Currency</label>
                <div class="col-sm-9">
                    <select class="form-control">
                        <option>$ dollars US</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="container pl-0 mb-5">
        <div class="col pl-0">
            <h5 class="mb-3 font-weight-bold">Accreditations</h5>
        </div>
        <div class="row">
            <ng-container *ngFor='let accr of accreditations'>
                <div class="col-sm-3">
                    <div class="card accreditation">
                        <img class="card-img-top" [src]='accr.imageUrl' alt="Card image cap">
                        <div class="card-body no-gutter-left">
                            <h6 class="card-title">{{accr.name}}</h6>
                            <button (click)="deleteAccreditation()" class="btn no-gutter-left">
                                <fa-icon [icon]="deleteIcon"></fa-icon> <span>Delete</span>
                            </button>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="col-sm-3">
                <div class="card text-center accreditation pt-3">
                    <div class="card-body">
                        <fa-icon [icon]='addIcon' class="addIcon fa-3x"></fa-icon>
                        <p class="card-text">Add accreditation</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pl-0 mb-5">
        <div class="col pl-0">
            <h5 class="mb-3 font-weight-bold">Room types</h5>
        </div>
        <div class="form-group row no-gutter-left justify-content-around">
            <label for="room" class="col-sm-1 col-form-label text-left no-gutter-left">Room</label>
            <div class="col-sm-4">
                <input type="text" class="form-control-plaintext" id="room">
            </div>
            <label for="room" class="col-sm-2 col-form-label text-left">Price per night</label>
            <div class="col-sm-3">
                <input type="text" class="form-control-plaintext" id="room">
            </div>
            <div class="col-sm-1 text-center">
                <div class="row">
                    <div class="col-sm-12">
                        <fa-icon [icon]="deleteIcon" class="mr-0"></fa-icon>
                    </div>
                </div>
                Delete
            </div>
        </div>
        <div class="row">
            <div class="col">
                <fa-icon [icon]="addIcon" class="addIcon fa-lg"></fa-icon>
                Add new room type
            </div>
        </div>
    </div>
    <div class="container pl-0 mb-5">
        <div class="col pl-0">
            <h5 class="mb-3 font-weight-bold">Meal types</h5>
        </div>
        <div class="form-group row no-gutter-left justify-content-around">
            <label for="room" class="col-sm-2 col-form-label text-left no-gutter-left">Meal name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control-plaintext" id="room">
            </div>
            <div class="col-sm-1 text-center">
                <div class="row">
                    <div class="col-sm-12">
                        <fa-icon [icon]="deleteIcon" class="mr-0"></fa-icon>
                    </div>
                </div>
                Delete
            </div>
        </div>
        <div class="row">
            <div class="col">
                <fa-icon [icon]="addIcon" class="addIcon fa-lg"></fa-icon>
                Add new meal type
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-right">
            <div class="col-sm-12">
                <button type="submit" class='btn-primary'>Save</button>
            </div>
        </div>
    </div>
</div>