<div class="container hospital-details h-100">
    <form [formGroup]="detailsForm">
        <div class="row align-items-start mb-3">
            <div class="col-sm-auto">
                <h3>{{hospitalName}}</h3>
            </div>
            <div class="col mt-1 text-secondary link">
                <fa-icon [icon]="editIcon"></fa-icon>
                Request to change
            </div>
        </div>
        <div class="row align-items-start mb-3">
            <div class="col-sm-auto">
                <h5>{{hospitalAddress}}</h5>
            </div>
            <div class="col mt-1 text-secondary link">
                <fa-icon [icon]="editIcon"></fa-icon>
                Request to change
            </div>
        </div>
        <div class="row align-items-start ">

        </div>
        <div class="container pl-0">
           <app-hospital-photos [hospitalImages]="hospitalImages"></app-hospital-photos>
        </div>

        <app-hospital-description [parentForm]="detailsForm" ></app-hospital-description>

        <div class="container pl-0 mb-5">            
            <app-accreditation [accreditations]="accreditations" ></app-accreditation>            
        </div>
        
        <div class="container pl-0 mb-5">
            <app-hospital-room [parentForm]="detailsForm"></app-hospital-room>
        </div>
        <div class="container pl-0 mb-3">
            <app-hospital-meal [parentForm]="detailsForm"></app-hospital-meal>            
        </div>
        <div class="container">
            <div class="row text-right">
                <div class="col-sm-12">
                    <button type="submit" [disabled]="detailsForm.invalid" class='btn btn-primary btn-sm'>Save</button>
                </div>
            </div>
        </div>        
    </form>
    {{findInvalidControls()}}
</div>